<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>

<!-- Navigation Bar -->

<nav class="navbar navbar-dark sticky-top bg-dark p-1">
    <div class="container-fluid">
        <span class="navbar-brand" id="user-info"></span>
        <div>
            <form action="#" th:action="@{/logout}" method="post">
                <button class="btn btn-dark btn-secondary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!-- Page -->

<div class="container-fluid" style="height: 1000px">
    <div class="row row-cols-2 text-black">

        <!-- Role selector -->

        <div class="col-sm-2 bg-white">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" sec:authorize="hasRole('ROLE_ADMIN')" role="tab" aria-controls="v-pills-home"
                   aria-selected="true" onclick="adminPanel()" id="admin-nav-pill">Admin</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" role="tab" aria-controls="v-pills-profile"
                   aria-selected="false" th:data="${currentUser.id}" onclick="userPanel()" id="user-nav-pill">User</a>
            </div>
        </div>

        <!-- Admin panel -->

        <div class="col-10" style="background-color: #f4fafa; height: 1000px">
            <div class="h1" id="panel-title" text="Admin panel"></div>
            <div class="tab-content">
                <ul class="nav nav-tabs" id="admin-nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" onclick="adminPanel()"
                           id="users-table-tab">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" onclick="newUserForm()" id="new-user-tab">New User</a>
                    </li>
                </ul>

                <!-- Users table -->

                <div class="card">
                    <div class="card-header m-1">
                        <div id="tab-name" class="h3"></div>
                    </div>
                    <div class="card-body" id="users-card">
                        <table class="table table-striped table-hover" id="users-table">

                        </table>
                    </div>

                    <!-- New user form -->

                    <div id="add-user-panel" class="card-body collapse" align="center">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <form role="form" id="addUserForm" class="text-center" name="addUserForm">
                                    <div class="form-group text-center">
                                        <label for="addUsername" class="col-form-label"><b>Username</b></label>
                                        <input type="text" class="form-control" name="addUsername" id="addUsername"
                                               required placeholder="Username" value=""/>

                                        <label for="addPassword" class="col-form-label"><b>Password</b></label>
                                        <input type="password" class="form-control" name="addPassword" id="addPassword"
                                               required placeholder="Password" value=""/>

                                        <label for="addEmail" class="col-form-label"><b>E-mail</b></label>
                                        <input type="email" class="form-control" name="addEmail" id="addEmail"
                                               required placeholder="Email" value=""/>

                                        <label for="addRoles" class="justify-content-around"><b>Roles</b></label>
                                        <select multiple class="form-control" name="addRoles" id="addRoles">
                                            <option selected th:each="role : ${roles}"
                                                    th:text="${role.toString()}"
                                                    th:value="${role.name}"></option>
                                        </select>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-success" id="addUser">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="editModalLabel" id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit user</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="user-edit-form" name="userEditForm">
                <div class="modal-body">
                    <div class="container col-6 text-center">
                        <div class="form-group text-center">
                            <label for="editId"><strong>ID</strong></label>
                            <input type="text" class="form-control" name="editId" id="editId" readonly>

                            <label for="editUsername"><strong>Username</strong></label>
                            <input type="text" class="form-control" name="editUsername" id="editUsername">

                            <label for="editPassword"><strong>Password</strong></label>
                            <input type="password" class="form-control" name="editPassword" id="editPassword" value="">

                            <label for="editEmail"><strong>E-mail</strong></label>
                            <input type="email" class="form-control" name="editEmail" id="editEmail">

                            <label for="editRoles"><strong>Roles</strong></label>
                            <select multiple class="form-control" name="editRoles" id="editRoles" required
                                    th:size="${user.roles.size()}">
                                <option selected th:each="role : ${roles}"
                                        th:text="${role.toString()}"
                                        th:value="${role.name}"
                                th:selected="${user.roles.containsAll(role)}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="edit-user-btn"
                            value="Edit">Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="deleteModalLabel" id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete user</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="user-delete-form" name="userDeleteForm">
                <div class="modal-body">
                    <div class="container col-6 text-center">
                        <div class="form-group text-center">
                            <label for="deleteId"><strong>ID</strong></label>
                            <input type="text" class="form-control" name="deleteId" id="deleteId" readonly>

                            <label for="deleteUsername"><strong>Username</strong></label>
                            <input type="text" class="form-control" name="deleteUsername" id="deleteUsername" readonly>

                            <label for="deleteEmail"><strong>E-mail</strong></label>
                            <input type="email" class="form-control" name="deleteEmail" id="deleteEmail" readonly>

                            <label for="deleteRoles"><strong>Roles</strong></label>
                            <select multiple class="form-control" name="deleteRoles" id="deleteRoles" readonly
                                    th:size="${user.roles.size()}">
                                <option selected th:each="role : ${roles}"
                                        th:text="${role.toString()}"
                                        th:value="${role.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-user-btn"
                            value="Delete" onclick="deleteUser()">Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/api.js" crossorigin="anonymous"></script>
</body>
</html>