<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile</title>
</head>
    <p th:border="10">Your info:</p>
        <dl>
            <dt>Username:</dt>
            <dd th:text="${user.username}"></dd>

            <dt>E-mail:</dt>
            <dd th:text="${user.email}"></dd>

            <dt>Roles:</dt>
            <dd th:text="${user.getRoles()}"></dd>
        </dl>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin}"><button>Go to admin page</button></a>
    </div>
    <p><a th:href="@{/logout}"><button>Logout</button></a></p>
</html>