<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <p>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    </p>
    <p>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
    </p>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.name}"
                   th:value="${role.name}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <p>
        <input type="submit" value="Create">
    </p>
</form>
    <p><a th:href="@{/admin}"><button>Back</button></a>
    <a th:href="@{/logout}"><button>Logout</button></a></p>
</body>
</html>